@import url("reset.css");

.site-title{
  display: none;
}

.nav-menu{
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  margin-left: auto;
  background-color: #3F969D;
}

.nav-menu-item{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 50px;
}

.nav-menu-logo{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top:20px;
}

.nav-menu-item a{
  color:#fff;
  text-decoration: none;
}

.nav-logo{
  width: 25%;
}

.content-item {
  background-color: #5BCAD3;
  overflow: hidden;
  display: flex;
  color: #fff;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:68px;
}

.content-item-title {
  margin: 44px;
  font-weight: bold;
  font-size: 40px;
  text-align: center;
}

.content-item-text {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
  line-height: 2;
  width: 50%;
  margin-top:60px;
  margin-bottom: 40px;
}

.content-item-img {
  font-weight: bold;
}

.btn {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  & a {
    padding: 8px 0;
    border: 6px solid #3F969D;
    display: block;
    background-color: #fff;
    color: #3F969D;
    text-decoration: none;
    text-align: center;
    &:after {
      position: absolute;
      bottom: -6px;
      left: 0;
      content: '';
      display: block;
      width: 100%;
      border: 6px solid #3F969D;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-bottom: 0;
      box-sizing: border-box;
    }
  }
}

.about-btn{
  margin-top:80px;
  margin-bottom: 28px;
}

.wrap{
  display: flex;
}

.renewal-campaign-section{
  background-color: #EC2E2E;
  margin-top: 68px;
  margin-left: 100px;
  margin-right: 100px;
}

#campaign{
  text-align: center;
  color: #fff;
  font-size: 68px;
  padding:28px;
}

.renewal-img{
  object-fit: cover;
  width: 100%;
  height: 300px;
}

.renewal-campaign-section-item-title{
  color: #fff;
  text-align: center;
  font-size: 40px;
  margin-top:24px;
  margin-bottom: 24px;
}

.renewal-campaign-section-item-content{
  color: #fff;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  line-height: 24px;
  margin-bottom:80px;
}

.renewal-center{
  background-color: #D7292A;
}

.top-information {
  background-color: #5BCAD3;
  display: flex;
  align-items: flex-start;
  color: #fff;
  margin-left: 100px;
  margin-right: 100px;
  margin-top:68px;
  position: relative;
}

iframe{
  width: 100%;
  margin-right: auto;
}

.top-information-store-name{
  font-size: 40px;
  width: 100%;
  margin:44px;
  text-align: center;
}

.top-information-address{
  font-size: 20px;
  line-height: 2;
  position: absolute;
  left: 180px;
  top:140px;
}

.info-btn{
  position: absolute;
  bottom: 80px;
  left:220px;
}

footer{
  background-color: #3F969D;
  margin:68px 100px;
}

.footer-logo-img{
  width: 8%;
  margin-top:20px;
}

.footer-logo{
  text-align: center;
}

.footer-nav-menu{
  list-style: none;
  text-align: center;
  font-size: 0;
}

.footer-nav-menu-item{
  display: inline-block;
  font-size: 16px;
  margin:20px;
}

.footer-nav-menu-item a{
  color: #fff;
  text-decoration: none;
  font-size: 16px;
}

.footer-sns{
  list-style: none;
  text-align: center;
  font-size: 0;
}

.footer-sns-item{
  display: inline-block;
}

.footer-sns-icon{
  width: 20%;
}

.copy{
  color: #fff;
  font-size: 12px;
  text-align: center;
  padding: 20px;
}

.page-title{
  background-color:#5CCAD3;
  margin:0 100px;
  text-align: center;
  color: #fff;
  font-size: 80px;
  padding-bottom:20px ;
  padding-top:40px ;
  padding-right:60px ;
}

.menu-section{
  background-color: #FFB705;
  margin: 68px 100px;
  color: #fff;
}

.food{
  background-color: #FF084C;
}

.sidebar{
  display: flex;
  margin:0 100px;
}

.drink-sidebar{
  background-color: #E8BF07;
  color: #fff;
  text-align: center;
  width: 50%;
}

.soda{
  background-color: #E89207;
}

.drink-sidebar-title{
  font-size: 36px;
  padding: 20px;
}

.drink-sidebar-menu-name{
  font-size:44px;
  padding: 20px;
}

.drink-sidebar-content{
  width: 50%;
  margin: auto;
}

.drink-sidebar-img{
  padding: 20px;
}

.menu-title{
  text-align: center;
  font-size: 80px;
  margin-right: 60px;
  padding-top:20px;
}

.menu-list{
  margin:auto;
}

.menu-flex{
  display: flex;
  padding-bottom: 50px;
}

.menu-list-item-name{
  font-size:20px;
  padding-top:20px ;
  padding-bottom: 30px;
}

.menu-list-item-price{
  font-size: 16px;
  padding-left: 20px;
}

.soda-tea{
  position: relative;
}

.soda-tea-name{
  padding:80px 0px;
}

.menu-list-item-taste{
position: absolite;
}

.menu-list-item-taste-label{
  margin: 20px 0;
}

.cake-list{
  text-align: center;
}

.cake-list-img{
  text-align: center;
  width: 87%;
}

.cake-list-item{
  font-size: 20px;
  margin-top:12px;
  margin-left:1100px;
  color: #FF084C;
}

.about{
  background-color: #3FE09D;
}

.company-detail{
  background-color: #39F788;
  margin:100px;
  position: relative;
}

.company-detail-title{
  color:#fff;
  font-size: 40px;
  padding-top:40px;
  padding-left: 40px;
}

.company-detail-list-item-title{
  float: left;
  padding:12px;
}

.company-flex{
  display: flex;
  padding-bottom: 80px;
}

.company-detail-list{
  color: #fff;
  margin:40px;
}

.company-detail-list-item{
  margin-left:80px ;
  padding:12px;
}

.sodakun{
  position: absolute;
  right: 0px;
  bottom: 0px;
}

.info{
  background-color: #D98B86;
}

.promotion-section{
  background-color: #DBC73F;
  margin:100px;
  text-align: center;
  color: #fff;
}

.promotion-section-title{
  font-size: 48px;
  padding:28px;
}

.promo{
  background-color: #DBC73F;
}

.promo-text{
  margin:0px;
  margin-left:230px;
}

.icon{
  width: 150px;
}

.content-item-title{
  margin:0;
  margin-bottom: 20px;
}

.promotion-section-text{
  margin:20px;
  padding:40px;
  font-size:32px;
  font-weight: bold;
}
